@model StopsSearchModel


<form method="get">
    <label asp-for="StartingStop"></label>
    <input asp-for="StartingStop" class="form-control" placeholder="...">

    <label asp-for="FinalStop"></label>
    <input asp-for="FinalStop" class="form-control" placeholder="...">
    <div class="form-group mt-4 p-2">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>
@{
    if (Model.Busses.Count == 0)
    {
        <p>No routes found.</p>
    }
    else
    {
        foreach (var bus in Model.Busses)
        {
            <div class="card">
                <img src="~/imgs/bus.jpeg" class="card-img-top" alt="bus image">
                <div class="card-body" style="justify-content:center">
                    <h5 class="card-title">@bus.Number</h5>
                    <p class="showStops">See Stops</p>
                    <div class="routeStops" style="display:none">
                        @{
                            foreach (var stop in bus.Stops)
                            {
                                <p>- @stop.Name</p>
                            }
                        }
                    </div>
                </div>
            </div>
        }
    }
}
<script src="~/js/ShowStopsInRoute.js"></script>
<script src="https://kit.fontawesome.com/6326f1a500.js" crossorigin="anonymous"></script>

